<?php if ($this->pageCount) { ?>
    <div class="container text-right">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <!-- Previous page link -->
                <?php if (isset($this->previous)) { ?>
                    <li>
                        <?php
                        $defaultOptions = ['query' => [$this->pageParam => $this->previous]];
                        $options = is_array($this->options) ? array_merge_recursive($this->options, $defaultOptions) : $defaultOptions;
                        ?>
                        <a href="<?php echo $this->url($this->route, $this->params ?: array(), $options); ?>" aria-label="Anterior">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                <?php } else { ?>
                    <li>
                        <a aria-label="Anterior"><span aria-hidden="true">&laquo;</span></a>
                    </li>
                <?php } ?>

                <!-- Numbered page links -->
                <?php foreach ($this->pagesInRange as $page) { ?>
                    <?php if ($page != $this->current) { ?>
                        <li>
                            <?php
                            $defaultOptions = ['query' => [$this->pageParam => $page]];
                            $options = is_array($this->options) ? array_merge_recursive($this->options, $defaultOptions) : $defaultOptions;
                            ?>
                            <a href="<?php echo $this->url($this->route, $this->params ?: array(), $options); ?>">
                                <?php echo $page; ?>
                            </a>
                        </li>
                    <?php } else { ?>
                        <li class="active">
                            <a><?php echo $page; ?></a>
                        </li>
                    <?php } ?>
                <?php } ?>

                <!-- Next page link -->
                <?php if (isset($this->next)) { ?>
                    <li>
                        <?php
                        $defaultOptions = ['query' => [$this->pageParam => $this->next]];
                        $options = is_array($this->options) ? array_merge_recursive($this->options, $defaultOptions) : $defaultOptions;
                        ?>
                        <a href="<?php echo $this->url($this->route, $this->params ?: array(), $options); ?>" aria-label="Próximo">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                <?php } else { ?>
                    <li>
                        <a aria-label="Próximo"><span aria-hidden="true">&raquo;</span></a>
                    </li>
                <?php } ?>
            </ul>
        </nav>
    </div>
<?php } ?>
