<?php $this->headTitle()->append('Carrinho')->append('Confirmação'); ?>
<div class="container">
    <?php if (isset($this->shoppingcart->items)) { ?>
        <div class="row">
            <div class="col-xs-12">
                <?php echo $this->Messages() ?>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th class="text-left">Produto</th>
                                <th class="text-center">Qntd.</th>
                                <th class="text-center">Unitário</th>
                                <th class="text-center">Total</th>
                            </tr>
                            <?php foreach ($this->shoppingcart->items as $item) { ?>
                                <tr>
                                    <td><?php echo $item['nome']; ?></td>
                                    <td class="text-center"><?php echo $item['qtde']; ?></td>
                                    <td class="text-center">R$ <?php echo number_format($item['preco'], 2, ',', ''); ?></td>
                                    <td class="text-center">R$ <?php echo number_format($item['total'], 2, ',', ''); ?></td>
                                </tr>
                            <?php } ?>
                            <tr>
                                <td colspan="4">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                                <th class="text-center">Total</th>
                                <td class="text-center">R$ <?php echo number_format($this->shoppingcart['total'], 2, ',', ''); ?></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <?php if (isset($this->shoppingcart->items)) { ?>
                <div class="col-xs-12 col-sm-12 text-right">
                    <a href="<?php echo $this->url('site/shopping-cart/confirm') ?>?fim=true" class="btn">
                        Confirmar <span class="fa fa-angle-right "></span>
                    </a>
                </div>
            <?php } ?>
        </div>
    <?php } ?>
</div>