<?php $this->headTitle()->append('Carrinho'); ?>
<div class="container">
    <?php if (isset($this->shoppingcart->items)) { ?>
        <form name="frmCarrinho" id="frmCarrinho" method="POST" action="<?php echo $this->url('site/shopping-cart/update') ?>">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th class="text-left">Produto</th>
                                    <th class="text-center">Qntd.</th>
                                    <th class="text-center">Unitário</th>
                                    <th class="text-center">Total</th>
                                    <th class="text-center">Ação</th>
                                </tr>
                                <?php foreach ($this->shoppingcart->items as $item) { ?>
                                    <tr>
                                        <td><?php echo $item['nome']; ?></td>
                                        <td>
                                            <input name="items[<?php echo $item['id']; ?>]" value="<?php echo $item['qtde']; ?>" class="form-control center-block" style="width: 50px;">
                                        </td>
                                        <td class="text-center">R$ <?php echo number_format($item['preco'], 2, ',', ''); ?></td>
                                        <td class="text-center">R$ <?php echo number_format($item['total'], 2, ',', ''); ?></td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <button type="submit" class="btn btn-default">
                                                    <i class="fa fa-refresh"></i>
                                                </button>
                                                <a href="<?php echo $this->url('site/shopping-cart/remove', ['id' => $item['id']]) ?>" class="btn btn-default">
                                                    <i class="fa fa-remove"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                <?php } ?>
                                <tr>
                                    <td colspan="5">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="3">&nbsp;</td>
                                    <th class="text-center">Total</th>
                                    <td class="text-center">R$ <?php echo number_format($this->shoppingcart['total'], 2, ',', ''); ?></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <?php if (isset($this->shoppingcart->items)) { ?>
                    <div class="col-xs-12 col-sm-12 text-right">
                        <button type="submit" class="btn" name="acao" value="finalizar">
                            Finalizar
                            <span class="fa fa-angle-right "></span>
                        </button>
                    </div>
                <?php } ?>
            </div>
        </form>
    <?php } else { ?>
        <p>Nenhum produto encontrado no carrinho</p>
    <?php } ?>
</div>