<?php $this->headTitle()->append('Pedidos'); ?>
<div class="container">
    <?php if (count($this->pedidoPaginator)) { ?>
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-left">Pedido</th>
                                <th class="text-center large-small">Data</th>
                                <th class="text-center large-small">Total</th>
                                <th class="text-center large-small">Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($this->pedidoPaginator as $pedido) { ?>
                                <tr>
                                    <td><?php echo str_pad($pedido->getId(), 10, 0, STR_PAD_LEFT); ?></td>
                                    <td class="text-center "><?php echo $pedido->getData()->format('d/m/Y'); ?></td>
                                    <td class="text-center">R$ <?php echo number_format($pedido->getPrecoTotal(), 2, ',', ''); ?></td>
                                    <td class="text-center">
                                        <a href="<?php echo $this->url('site/shopping-cart/orders/detail', ['pedido' => $pedido->getId()]); ?>">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </td>
                                </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <?php
                    echo $this->paginationControl(
                        $this->pedidoPaginator, 'sliding', 'partial/paginator.phtml', [
                        'route' => 'site/shopping-cart/orders',
                        'pageParam' => 'p',
                        'pageSizeParam' => 'ps',
                        'options' => ['query' => ['filter' => $this->filter]]
                    ]);
                    ?>
                </div>
            </div>
        </div>
    <?php } else { ?>
        <p>Nenhum pedido disponível</p>
    <?php } ?>
</div>