<?php $this->headTitle()->append('Pedidos'); ?>

<div class="container">
    <h1 class="page-header">
        <i class="fa fa-shopping-cart"></i> Pedido #<?php echo $this->pedido->getId(); ?>
    </h1>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <fieldset>
                        <legend>Dados do Pedido</legend>
                    </fieldset>
                    <div class="row">
                        <div class="col-xs-6">
                            <strong>Data do Pedido:</strong><br>
                            <?php echo $this->pedido->getData()->format('d/m/Y H:i'); ?><br><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title" style="color: #73879C;"><strong>Items do Pedido</strong></h3>
                                </div>
                                <div class="panel-body">
                                    <div id="datatable-responsive_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                        <div class="row">
                                            <table class="table  table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="large-small"><strong>Item</strong></th>
                                                        <th><strong>Produto</strong></th>
                                                        <th class="text-center large-small"><strong>Qtde</strong></th>
                                                        <th class="text-center large-small"><strong>Totais</strong></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <?php foreach ($this->itemList as $item) { ?>
                                                        <tr>
                                                            <td>
                                                                <strong><?php echo $item->getId() ?></strong><br>
                                                            </td>
                                                            <td><?php echo $item->produto->getNome(); ?></td>
                                                            <td class="text-center"><?php echo $item->getQuantidade() ?></td>
                                                            <td class="text-center">R$ <?php echo number_format($item->getPrecoTotal(), 2, ',', ''); ?></td>
                                                        </tr>
                                                    <?php } ?>
                                                    <tr>
                                                        <td class="no-line" colspan="2"></td>
                                                        <td class="no-line text-center"><strong>Total</strong></td>
                                                        <td class="no-line text-center">R$ <?php echo number_format($this->pedido->getPrecoTotal(), 2, ',', ''); ?></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



