<?php $this->layout('layout/clean') ?>
<h1><?php echo 'An error occurred' ?></h1>
<h2><?php echo $this->message ?></h2>

<?php if (isset($this->display_exceptions) && $this->display_exceptions) { ?>
    <?php if (isset($this->exception) && $this->exception instanceof Exception) { ?>
        <hr/>
        <h2><?php echo 'Additional information' ?>:</h2>
        <h3><?php echo get_class($this->exception); ?></h3>
        <dl>
            <dt><?php echo 'File' ?>:</dt>
            <dd>
                <pre class="prettyprint linenums"><?php echo $this->exception->getFile() ?>:<?php echo $this->exception->getLine() ?></pre>
            </dd>
            <dt><?php echo 'Message' ?>:</dt>
            <dd>
                <pre class="prettyprint linenums"><?php echo $this->exception->getMessage() ?></pre>
            </dd>
            <dt><?php echo 'Stack trace' ?>:</dt>
            <dd>
                <pre class="prettyprint linenums"><?php echo $this->exception->getTraceAsString() ?></pre>
            </dd>
        </dl>
        <?php $e = $this->exception->getPrevious(); ?>
        <?php if ($e) { ?>
            <hr/>
            <h2><?php echo 'Previous exceptions' ?>:</h2>
            <ul class="unstyled">
                <?php while ($e) { ?>
                    <li>
                        <h3><?php echo get_class($e); ?></h3>
                        <dl>
                            <dt><?php echo 'File' ?>:</dt>
                            <dd>
                                <pre class="prettyprint linenums"><?php echo $e->getFile() ?>:<?php echo $e->getLine() ?></pre>
                            </dd>
                            <dt><?php echo 'Message' ?>:</dt>
                            <dd>
                                <pre class="prettyprint linenums"><?php echo $e->getMessage() ?></pre>
                            </dd>
                            <dt><?php echo 'Stack trace' ?>:</dt>
                            <dd>
                                <pre class="prettyprint linenums"><?php echo $e->getTraceAsString() ?></pre>
                            </dd>
                        </dl>
                        <?php $e = $e->getPrevious(); ?>
                    <?php } ?>
                </li>
            </ul>
        <?php } ?>
    <?php } else { ?>
        <h3><?php echo 'No Exception available' ?></h3>
    <?php } ?>
<?php } ?>