<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <img src="<?php echo $this->produto->getImagem(); ?>" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3 class="product-title"><?php echo $this->produto->getNome(); ?></h3>
                    <p class="product-description"><?php echo $this->produto->getDescricao(); ?></p>
                    <h4 class="price">Preço: <span>R$ <?php echo number_format($this->produto->getPreco(), 2, ',', ''); ?></span></h4>

                    <div class="action">
                        <a class="add-to-cart btn btn-default" href="<?php echo $this->url('site/shopping-cart/add', ['id' => $this->produto->getId()]) ?>">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>