<?php $this->headTitle()->append('Login'); ?>
<div class="container">
    <div class="panel">
        <form action="<?php echo $this->url('site/login') ?>" method="POST">
            <div class="panel-title">
                <h2 class="title">Login</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="row">
                            <p>Digite abaixo seu e-mail e senha já cadastrados na loja.</p>
                            <input type="hidden" name="redirect" value="<?php echo $this->redirect ?>" />
                            <?php echo $this->Messages() ?>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" type="email" name="email" placeholder="Email" required="">
                            </div>
                            <div class="form-group">
                                <label>Senha</label>
                                <input class="form-control" type="password" name="senha" placeholder="Senha" required="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="btn-group pull-right">
                                <button type="submit" class="btn btn-dark">
                                    <i class="fa fa-floppy-o fa-fw"></i> Cadastrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>