<?php echo $this->Doctype() ?>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <base href="<?php echo $this->BasePath() ?>" />
        <?php echo $this->HeadTitle()->prepend(APPLICATION_NAME)->setSeparator(' - ')->setAutoEscape(true) ?>
        <?php echo $this->HeadMeta() ?>

        <?php echo $this->HeadLink() ?>

        <?php echo $this->HeadScript() ?>
    </head>
    <body>

        <?php echo $this->content ?>

        <?php echo $this->InlineScript() ?>
    </body>
</html>