<?php echo $this->doctype('HTML5') ?>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <base href="<?php echo $this->basePath() ?>/" />
        <?php echo $this->headTitle()->prepend(APPLICATION_NAME)->setSeparator(' > ')->setAutoEscape(true) ?>
        <?php echo $this->headMeta() ?>

        <link href="<?php echo $this->basePath('/components/bootstrap/dist/css/bootstrap.min.css') ?>" rel="stylesheet" type="text/css">
        <link href="<?php echo $this->BasePath('/components/font-awesome/css/font-awesome.min.css'); ?>" rel="stylesheet">
        <link href="<?php echo $this->basePath('/css/main.css') ?>" rel="stylesheet" type="text/css">
        <?php echo $this->headLink() ?>

        <?php echo $this->headScript() ?>
    </head>
    <body>
        <header class="header">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="<?php echo $this->url('site') ?>">
                            <img src="https://d19m59y37dris4.cloudfront.net/shirt/2-0/img/logo-e.png" alt="Shirt Store">
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <?php foreach ($this->Categoria() as $categoria) { ?>
                                <li>
                                    <a href="<?php echo $this->url('site/category', ['id' => $categoria->getId()]) ?>">
                                        <?php echo $categoria->getNome(); ?>
                                    </a>
                                </li>
                            <?php } ?>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-user"></i>
                                    <?php if ($this->Cliente()->getIdentity()) { ?>
                                        <?php echo $this->Cliente()->getIdentity()->getNome(); ?>
                                    <?php } else { ?>
                                        Visitante
                                    <?php } ?>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="<?php echo $this->url('site/shopping-cart') ?>">Carrinho</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="<?php echo $this->url('site/logout') ?>">Sair</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-right" action="<?php echo $this->url('site/search') ?>">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Procurar por..." name="busca">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
        </header>

        <?php echo $this->content ?>

        <script src="<?php echo $this->basePath('/components/jquery/dist/jquery.min.js') ?>"></script>
        <script src="<?php echo $this->basePath('/components/bootstrap/dist/js/bootstrap.min.js') ?>"></script>
        <?php echo $this->InlineScript() ?>

    </body>
</html>
