<?php $this->headTitle()->append('Home'); ?>
<div class="container">
    <?php if (count($this->produtos)) { ?>
        <div id="products" class="row list-group">
            <?php foreach ($this->produtos as $produto) { ?>
                <div class="item col-xs-12 col-lg-4">
                    <div class="thumbnail">
                        <img class="group list-group-image" src="<?php echo $produto->getImagem(); ?>" alt="" />
                        <div class="caption">
                            <h4 class="group inner list-group-item-heading"><?php echo $produto->getNome(); ?></h4>
                            <div class="row">
                                <div class="col-xs-4 col-md-4">
                                    <p class="lead">R$ <?php echo number_format($produto->getPreco(), 2, ',', ''); ?></p>
                                </div>
                                <div class="col-xs-8 col-md-8 ">
                                    <div class="btn-group pull-right">
                                        <a class="btn btn-success" href="<?php echo $this->url('site/products', ['id' => $produto->getId()]) ?>" title="Detalhe">
                                            <i class="fa fa-product-hunt"></i>
                                            <span class="hidden-xs">Detalhe</span>
                                        </a>
                                        <a class="btn btn-success" href="<?php echo $this->url('site/shopping-cart/add', ['id' => $produto->getId()]) ?>" title="Comprar">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span  class="hidden-xs">Comprar</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <?php } ?>

        </div>
    <?php } else { ?>
        <p>Nenhum produto encontrado</p>
    <?php } ?>
    <?php
    echo $this->paginationControl(
        $this->produtos, 'sliding', 'partial/paginator.phtml', [
        'route' => 'site',
        'pageParam' => 'p',
        'pageSizeParam' => 'ps',
        'options' => ['query' => ['filter' => $this->filter]]
    ]);
    ?>
</div>