<?php if ($this->messages->count()) { ?>
    <?php foreach ($this->messages as $style => $messages) { ?>
        <div class="alert alert-<?= $style ?> fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

            <?php foreach ($messages as $message) { ?>
                <p><?= $message ?></p>
            <?php } ?>
        </div>
    <?php } ?>
<?php } ?>